*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: black 1px solid; */
}


#main-container{
    
    display: flex;
    width:500px;
    height: 200px;
    flex-direction: column;


}
.main-btnGroup{
    display: flex;
    width:500px;
    height: 200px;
    flex-wrap: wrap;
 
}
.btn{
    border: black 1px solid;
    width: 150px;
    height: 80px;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btnDecimal{
     border: black 1px solid;
    width: 150px;
    height: 80px;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btnEqual{
     border: black 1px solid;
    width: 150px;
    height: 80px;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.btnOps{
      border: black 1px solid;
    width: 150px;
    height: 80px;

    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}