*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}

body{
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: black 1px solid; */
}


#main-container{
    
    display: flex;
   
    padding: 15px;
    flex-direction: column;
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    
}

.btnGroups{
     display: flex;
    width:650px;
    height: 450px;
    flex-direction: row;
    /* border: solid 1px black; */
    padding: 15px; 
}
.display{
    background-color: lightgrey;
    width: 620px;
    height: 200px;
    align-content: flex-end;
    text-align: end;
    font-size: 40px;
    color: cyan;
}
.main-btnGroup{
    display: flex;
    width:490px;
    height: 400px;
    flex-wrap: wrap;
    align-self: flex-end;
   
    /* border: solid green 5px; */
 
}
.sub-btnGroup{
  display: flex;
    width:150px;
    height: 400px;
    flex-direction: column;
    align-self: flex-end;
    /* border: solid 5px purple; */
}

.btn{
    border: black 1px solid;
    width: 150px;
    height: 80px;
    border-radius: 25px;

    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;

    background-color: #f3f5f6;
}
.btnDecimal{
     border: black 1px solid;
    width: 150px;
    height: 80px;
    background-color: #f3f5f6;
    border-radius: 25px;
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.btnEqual{
     border: black 1px solid;
    width: 150px;
    height: 80px;

    border-radius: 25px;

    font-size: 25px;
    margin-right: 5px;
    margin-bottom: 5px;

    background-color: #0b57d0;
}
.btnOps{
 border: black 1px solid;
    width: 150px;
    height: 60px;

    background-color: #e5edff;
    border-radius: 25px;
   
    font-size: 25px;
    margin-bottom: 20px;
    
}
.btnRemove{
    border: black 1px solid;
    width: 150px;
    height: 60px;

    background-color: #e5edff;
    border-radius: 25px;
   
    font-size: 25px;
    margin-bottom: 20px;
}